{%extends "base/page.html"%}
{%load pgfilters%}
{%block title%}Recognized Contributors{%endblock%}
{%block contents%}
<h1>PostgreSQL Recognized Contributors <i class="fa fa-users"></i></h1>

<p>
  These are the fine people who make PostgreSQL what it is today!
  Contributors listed here have provided a sustained stream of notable contributions in recent years.
</p>

<p>
  A separate page lists all
  <a href="/community/people/">people who have made contributions to PostgreSQL</a>
  over the years.
</p>

{%for t in contributortypes%}
<h2>{{t.typename}}</h2>
{%if t.extrainfo%}<p>{{t.extrainfo|safe}}</p>{%endif%}

<table class="table table-striped contributor-table">
  <thead>
    {%if t.detailed%}
    <tr>
     <th scope="col">Contributor</th>
     <th scope="col">Contribution</th>
    </tr>
    {%endif%}
  </thead>
  <tbody>
    {%for c in t.contributor_set.all %}
     {%if t.detailed%}
      <tr>
       <td>{% if c.user %}<a href="/community/people/{{c.user.username}}/">{{c.firstname}} {{c.lastname}}</a>{% else %}{{c.firstname}} {{c.lastname}}{% endif %} {%if t.showemail and c.email%}({{c.email|hidemail}}){%endif%}
          {%if c.company %}
          <br/>
            {% if c.companyurl %}
              <a href="{{c.companyurl}}" target="_blank" rel="noopener">{{c.company}}</a>
            {% else %}
              {{c.company}}
            {% endif %}
          {% endif %}
          {%if c.location %}
            <br/>
            {{c.location}}
          {% endif %}
        </td>
        <td>{{c.contribution}}</td>
       </tr>
     {%else%}
      {%if forloop.counter0|divisibleby:"2" %}
       <tr>
        <td>{% if c.user %}<a href="/community/people/{{c.user.username}}/">{{c.firstname}} {{c.lastname}}</a>{% else %}{{c.firstname}} {{c.lastname}}{% endif %}{%if t.showemail and c.email%} ({{c.email|hidemail}}){%endif%}</td>
        {%if forloop.last%}
        <td></td>
       </tr>
        {%endif%}
      {%else%}
        <td>{% if c.user %}<a href="/community/people/{{c.user.username}}/">{{c.firstname}} {{c.lastname}}</a>{% else %}{{c.firstname}} {{c.lastname}}{% endif %}{%if t.showemail and c.email%} ({{c.email|hidemail}}){%endif%}</td>
       </tr>
      {%endif%}
     {%endif%}
    {%endfor%}
  </tbody>
</table>
{%endfor%}

<p>All contributors are listed in alphabetical order.
  Existing contributors can update their information in their <a href="/account/profile/">user profile</a>.
  To suggest additions or corrections to this list, please email the
  <a href="/about/governance/contributors/">Contributors Committee</a> at
  <a href="mailto:contributors@postgresql.org">contributors@postgresql.org</a>.
    See the <a href="/about/policies/contributors/">Recognized Contributors Policy</a>
    for more information on becoming a recognized contributor.
</p>

{%endblock%}
